.alaune{
    width: auto;
    height: 300px;
    overflow:auto;
}
.aladeux{
    width: auto;
    height: 300px;
    overflow-inline: auto;
}
.navbar{
    opacity:95%;
}

.hover_card:hover{
    transform: scale(1.75);
    position:absolute;
    z-index: 100;
    transition: 0.5s;
}
.links{
    text-decoration: none;
}
a{
    text-decoration: none;
}